.margin-center {
  margin-top: 13rem;
  color: #eb445a;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  align-content: space-between;
 }

//  .margin-center-line-item {
//    margin-left: 25%;

//  }


 .ionic-selectable {
  display: block;
  max-width: 67%;
}
