// ion-card {
//   vertical-align:top !important;
//   height: 90%;
//   width: 90%;
//   margin: 13px auto;
//   float: none; /* Added */
//   margin-bottom: 10px; /* Added */
// }


ion-card[_ngcontent-xer-c142] {
  vertical-align: top !important;
  height: 90%;
  width: 90%;
  margin: 13px auto;
  float: none;
  margin-bottom: 10px;
}
