<ion-header fullscreen>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="distributor/products"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> {{ product.name }}</ion-title>

      <!-- <ion-buttons slot="primary">
        <ion-button (click)="onEdit(product._id)">
          <ion-icon name="create-sharp" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons> -->



  </ion-toolbar>
</ion-header>






<ion-card slot="start">



  <ion-img src="../../assets/tomato.jpeg"></ion-img>
  <ion-card-header>

    <ion-card-title  > <b> Product Name: {{ product.name }}</b></ion-card-title>


    <ion-card-subtitle ><b>Crop: </b>  {{ product.crop }}</ion-card-subtitle>



  </ion-card-header>




</ion-card>

<ion-card >
  <ion-card-header>

    <ion-card-title class="ion-text-center" >     <b>Product Details</b></ion-card-title>
<ion-card-subtitle ><b>Anther Culture: </b>  {{ product.antherCulture }}</ion-card-subtitle>
<ion-card-subtitle ><b>Silk Colour: </b>  {{ product.silkColour }}</ion-card-subtitle>
<ion-card-subtitle ><b>HSN Number: </b>  {{ product.hnsNumber }}</ion-card-subtitle>
  </ion-card-header>
</ion-card>


<ion-card >
  <ion-card-header>
    <ion-card-title class="ion-text-center" ><b>Sales Information</b></ion-card-title>
    <ion-card-subtitle>
      Selling Price: &#8377;{{ product.price }} /kg
    </ion-card-subtitle>
  </ion-card-header>
</ion-card>


<!-- <ion-card >
  <ion-card-header>
    <ion-card-title class="ion-text-center" ><b>Inventory Details</b></ion-card-title>
    <ion-card-subtitle>
      Available Inventory: ___ kgs
    </ion-card-subtitle>
  </ion-card-header>
</ion-card> -->
<!-- <ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-img [src]="product.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center">{{ product.name }}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2 class="ion-text-center"> Crop: {{ product.crop }}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2 class="ion-text-center"> Anther Culture: {{ product.antherCulture }}</h2>
      </ion-col>
    </ion-row>
        <ion-row>
      <ion-col>
        <h2 class="ion-text-center"> Silk Colour: {{ product.silkColour }}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2 class="ion-text-center"> HSN Number: {{ product.hnsNumber }}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2 class="ion-text-left"> Selling Price: &#8377;{{ product.price }} /kg</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2 class="ion-text-center"> Unit: {{ product.unit }}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
  </ion-grid>
</ion-content> -->
