.card-margin-left {
  margin-left:-32px;
}

.ion-padding-top {

  padding-top: var(--ion-padding, 46px);
}

.ion-padding-top-refresh {
  padding-top: var(--ion-padding, 76px);
}

.ion-padding {
  padding-inline-start: var(--ion-padding, 9px);
 }


 .item-margin-left {
  margin-left: 45px;
 }

 .card-margin-bottom {
  margin-bottom: -13px;
 }

 .ion-text-center {
   margin-left: -2em;
 }
