
.date-time-item{
  font-size: 1.101em;
  padding-top: 1.4rem;
  display: flex;
}

.date-padding-right {
  padding-right: 20px;
}

.ion-popover-pop {
  --offset-x: 51px;
  --width: 290px;
}

.ion-text-center {
  margin-left: -2em;
}

ion-slides {
    ion-slide {
        display: block;
        // min-height: calc(100vh - 215px);
        // max-height: calc(104vh - 215px);
        overflow: hidden;
        overflow-y: auto;
        text-align: initial;
        position: relative;
        padding-bottom: 58px;
    }
}

.text-center {
  display: flex;
  justify-content: center;
}

.row-padding {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #2f2f2f;
}

// .row-item-divider {
  // border-top: 1px solid #737373;
  // border-bottom: 1px solid black;
  // border-top: 1px solid #c10000;
  // border-bottom: 1px solid #c10000;
// }

.title-padding {
  padding-top: 22px;
  padding-bottom: 15px;
}

.row-item-divider-end {
  border-top: 1px solid #c10000;
  // border-bottom: 1px solid #c10000;
  color: #c10000;
}

.align-right-number {
  display: flex;
  align-items: end;
  justify-content: flex-end;
  padding-right: 2.3em;
}

.searchbar-input.sc-ion-searchbar-md {
    width: 120%;
    padding-inline-end: 3px;
}

.flex-arrange {
  display: flex;
}

.font-size {
  font-size: smaller;
}

.align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.font-size-icon {
  font-size: 1.5em;
  padding-left: 73%;
    padding-top: 45%;
}
