<ion-header fullscreen>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/user-management"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> {{ user?.userId?.firstName  +' '+user?.userId?.lastName }}</ion-title>

    <!-- <ion-buttons slot="primary">
      <ion-button (click)="onEdit(product._id)">
        <ion-icon name="create-sharp" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons> -->



  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <ngx-ui-loader [loaderId]="'loader-user-display'"></ngx-ui-loader>
    <div *ngIf="isLoading" class="ion-padding-top">

      <ion-card *ngFor="let number of [0,1,2,3,4,5,6]">
        <ion-item>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </h3><br>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3><br>
            <h3>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </h3>
          </ion-label>
        </ion-item>
      </ion-card>
    </div>

    <ion-refresher slot="fixed" pullFactor="0.9" pullMin="60" pullMax="200" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
        refreshingSpinner="circles" refreshingText="Refreshing..." class="ion-padding-top-refresh">
      </ion-refresher-content>
    </ion-refresher>


    <div *ngIf="!inActive">
    <ion-card>

        <ion-card-subtitle><b>User Name: {{ user?.userId?.firstName  +' '+user?.userId?.lastName }}</b> </ion-card-subtitle>
        <ion-card-subtitle><b>Company Name: {{ user?.companyName }}</b> </ion-card-subtitle>
        <ion-card-subtitle><b>Role: {{ user?.roles[0] }}</b> </ion-card-subtitle>
        <ion-card-subtitle><b>Email ID: {{ user?.userId?.email }}</b> </ion-card-subtitle>
        <ion-card-subtitle><b>Phone Number: {{ user?.userId?.phoneNo }}</b> </ion-card-subtitle>
        <ion-card-subtitle><b>Birth Day: {{ user?.userId?.birthDay }}</b> </ion-card-subtitle>
        <ion-card-subtitle><b>Join Date: {{ user?.joinDate | date }}</b> </ion-card-subtitle>
        <ion-card-subtitle><b>Address Details: {{ user?.addressDetails?.address1 +',' +user?.addressDetails?.address2 }}</b> </ion-card-subtitle>
        <ion-card-subtitle><b>City: {{ user?.addressDetails?.city }}</b> </ion-card-subtitle>
        <ion-card-subtitle><b>District: {{ user?.addressDetails?.district }}</b> </ion-card-subtitle>
        <ion-card-subtitle><b>Taluka: {{ user?.addressDetails?.taluka }}</b> </ion-card-subtitle>
        <ion-card-subtitle><b>State: {{ user?.addressDetails?.state }}</b> </ion-card-subtitle>
        <ion-card-subtitle><b>PIN Code: {{ user?.addressDetails?.pincode }}</b> </ion-card-subtitle>
        <ion-card-subtitle><b>User Profile Created Date: {{ user?.createdAt | date }}</b> </ion-card-subtitle>
        <ion-card-subtitle><b>User Profile Updated At: {{ user?.updatedAt | date }}</b> </ion-card-subtitle>
        <ion-card-subtitle><b>Status: {{ user?.status }}</b> </ion-card-subtitle>




</ion-card>
</div>

</ion-content>
