<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title class="ion-text-center">Requirement</ion-title>
  </ion-toolbar>

  <ion-toolbar color="primary">
      <ion-item button="true" id="open-date-input" color="primary" class="date-time-item">
        <div class="date-padding-left date-padding-right"><ion-icon name="arrow-back"></ion-icon></div>
        <div class="date-padding-left date-padding-right"><ion-icon name="calendar"></ion-icon></div>
        <div class="date-padding-left date-padding-right"><ion-label>
<div *ngIf="!dateValue && !dateValue1">
          Select Date Range
</div>

<div *ngIf="dateValue && !dateValue1">{{dateValue}} to ___ </div>
<div *ngIf="!dateValue && dateValue1">___ to {{dateValue1}} </div>
        <div *ngIf="dateValue && dateValue1">{{dateValue}} to {{dateValue1}}</div>


        </ion-label></div>
        <div class="date-padding-left date-padding-right"><ion-icon name="arrow-forward"></ion-icon></div>
        <ion-popover trigger="open-date-input" show-backdrop="true" class="ion-popover-pop">
          <ng-template >
            <div>
            <ion-item>
            <ion-datetime #popoverDatetime presentation="date"
              (ionChange)="dateValue = formatDate(popoverDatetime.value)" size="cover"
              showDefaultButtons="false" min="2015-03-14" first-day-of-week="1"><span slot="title">From Date</span></ion-datetime>
            </ion-item>

            <ion-item>
              <ion-datetime #popoverDatetime1 presentation="date"
              (ionChange)="dateValue1 = formatDate1(popoverDatetime1.value); popoverDatetime1.confirm(true);" size="cover"
              showDefaultButtons="false" first-day-of-week="1"><span slot="title">To Date</span></ion-datetime>
            </ion-item>
          </div>
            </ng-template>
        </ion-popover>
      </ion-item>
      <!-- <ion-button size="medium" color="danger" fill="clear" (click)="onResetDateRange()" slot="end" class="date-time-item">
        <ion-icon name="close-circle-outline" ></ion-icon>
      </ion-button> -->
</ion-toolbar>


<ion-segment mode="ios" (ionChange)="segmentChanged()" [(ngModel)]="segment" scrollable>
  <ion-segment-button mode="ios" value="0" >
    <ion-label>Distributor wise</ion-label>
  </ion-segment-button>
  <ion-segment-button mode="ios" value="1" >
    <ion-label>Overview</ion-label>
  </ion-segment-button>
</ion-segment>

</ion-header>

<ion-content [fullscreen]="true">

  <ngx-ui-loader [loaderId]="'loader-requirementService'"></ngx-ui-loader>

  <!-- <div *ngIf="isLoading" class="ion-padding-top">
    <ion-card *ngFor="let number of [0,1,2,3,4,5,6,7,8]">
      <ion-item>
        <ion-col size="3" size-md="6">
          <ion-card-header class="ion-padding">
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-card-header>
        </ion-col>
        <ion-col size="9" size-md="6" class="card-margin-left">
          <ion-card-header class="ion-padding">
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-card-header>
        </ion-col>
      </ion-item>
      <ion-item lines="none">
        <ion-col size="4" offset="1">
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </h3>
          </ion-label>
        </ion-col>
        <ion-col size="7">
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
            </h3>
          </ion-label>
        </ion-col>
      </ion-item>
    </ion-card>
  </div> -->

  <ion-refresher slot="fixed" pullFactor="0.9" pullMin="60" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing..." class="ion-padding-top-refresh">
    </ion-refresher-content>
  </ion-refresher>



  <div class="tab_content">
    <ion-slides #slides (ionSlideDidChange)="slideChanged()">
      <ion-slide>


        <div   *ngIf="showDistWise" >





  <ion-toolbar slot="fixed">
    <!-- <ion-grid> -->
<!-- <ion-row> -->
  <!-- <ion-col size="9"> -->
    <ion-searchbar #search placeholder="Search by Distributor, Product" enterkeyhint="enter"
      (ionChange)="onSearchChange($event)" debounce="200"></ion-searchbar>
  <!-- </ion-col> -->
  <!-- <ion-col size="3"> -->
    <ion-card>
    <ion-select placeholder="Filter by Status"  (ionChange)="onDropdownSelectionStatus($event)" value="PENDING">
      <ion-select-option value="PENDING" >Pending</ion-select-option>
      <ion-select-option value="DISPATCHED">Dispatched</ion-select-option>
      <ion-select-option value="REJECTED">Rejected</ion-select-option>
      <ion-select-option value="ALL">All Requirements</ion-select-option>
    </ion-select>
  </ion-card>
  <!-- </ion-col> -->
<!-- </ion-row> -->
    <!-- </ion-grid> -->





    </ion-toolbar>

  <div class="ion-padding-top" *ngIf="!inActive">
    <ion-card *ngFor="let salesOrder of salesOrders" routerDirection="forward" >
      <ion-item lines="none" class="card-margin-bottom" >
         <ion-card-header class="ion-padding">
            <ion-card-subtitle class="ion-text-left"><b>Distributor: {{ salesOrder?.toDistributorName }}</b>
            </ion-card-subtitle>
          </ion-card-header>
        <!-- <ion-col size="10" size-md="6" class="card-margin-left">
          <ion-card-header class="ion-padding">
            <ion-card-subtitle class="ion-text-left">{{ salesOrder?.fromDistributorName }}</ion-card-subtitle>
            <ion-card-subtitle class="ion-text-left">{{ salesOrder?.toDistributorName }}</ion-card-subtitle>
            <ion-card-subtitle>
              {{ salesOrder?.salesOrderDate | date }}</ion-card-subtitle>
            <ion-card-subtitle>&#8377; {{ salesOrder?.totalValue.toLocaleString("en-IN")}}
            </ion-card-subtitle>
          </ion-card-header>
        </ion-col> -->
      </ion-item>
      <!-- <div *ngIf="itemsCart.length>0"> -->
        <div>
        <ion-grid>
          <ion-row class="ion-row" >

            <ion-col size="2" >
              <b>Date</b>
                  </ion-col>
            <ion-col size="4" >
        <b>Product</b>
            </ion-col>
            <ion-col size="3" >
              <b>Qty</b>
                  </ion-col>
            <ion-col size="3" class="ion-align-center-amount">
                <b>      Status </b>
            </ion-col>
          </ion-row>


          <ion-row class="ion-row" *ngFor="let item of salesOrder.itemsDetails; let i = index">


          <ion-col size="2" >
            <!-- <ion-label class="ion-text-wrap"> -->
              <b> {{item?.requirementDate | date}}</b>
             <!-- </ion-label> -->
          </ion-col>
            <ion-col size="4" >
            <ion-label class="ion-text-wrap">
             <b> {{item?.productName}}</b><br>
             <p *ngIf="item && item.packingSize"> {{item?.packingSize}} packets</p>
            </ion-label>
            </ion-col>

          <ion-col size="3" class="ion-align-center-amount" >
            <!-- <ion-text slot="end" color="dark" class="price ion-text-right"> -->
              {{item?.quantity.toLocaleString("en-IN")}} {{item?.quantityUnit}}
            <!-- </ion-text> -->
          </ion-col>

          <ion-col size="3" class="ion-align-center-amount font-size-small" >
            <!-- <ion-text slot="end" color="dark" class="price ion-text-right"> -->
              {{item?.dispatchedStatus}}
            <!-- </ion-text> -->
          </ion-col>
        <!-- </ion-item> -->




        </ion-row>





        </ion-grid>


        </div>









      <!-- <ion-item lines="none" *ngIf="!inActive">
        <ion-col size="3">
          <ion-card-subtitle class="item-margin-left"><b>DC</b>
          </ion-card-subtitle>
        </ion-col>
        <ion-col size="2">
          <ion-icon name="checkmark-circle-outline" color="success"
            *ngIf="salesOrder?.managerApprovalGenerateDC === 'APPROVED'"></ion-icon>
          <ion-icon name="close-circle-outline" color="danger"
            *ngIf="salesOrder?.managerApprovalGenerateDC === 'PENDING'"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-card-subtitle><b>Invoice &<br />
              Credit Note</b>
          </ion-card-subtitle>
        </ion-col>
        <ion-col size="3">
          <ion-icon name="checkmark-circle-outline" color="success"
            *ngIf="salesOrder?.managerFinalApproval === 'APPROVED'"></ion-icon>
          <ion-icon name="close-circle-outline" color="danger" *ngIf="salesOrder?.managerFinalApproval === 'PENDING'">
          </ion-icon>
        </ion-col>
      </ion-item> -->
    </ion-card>
  </div>
  <ion-infinite-scroll threshold="25%" position="bottom" (ionInfinite)="getAllSalesOrdersOnScroll(true, $event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>



  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="./create">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

</div>
</ion-slide>





<ion-slide>
  <div   *ngIf="showOverView" >

    <ion-toolbar slot="fixed">
      <ion-searchbar #search placeholder="Search by product name" enterkeyhint="enter"
        (ionChange)="onSearchChangeOverView($event)" debounce="200"></ion-searchbar>




      </ion-toolbar>

      <ion-grid>
        <ion-row class="ion-row" >
          <ion-col size="2" class="ion-align-center-amount">
            <b>Sl No.</b>
                </ion-col>
          <ion-col size="4" class="ion-align-center-amount">
      <b>Product Name</b>
          </ion-col>
          <ion-col size="3" class="ion-align-center-amount">
            <b>Packing Size</b>
                </ion-col>
          <ion-col size="3" class="ion-align-center-amount">
            <b>Total Qty</b>
                </ion-col>
        </ion-row>


        <ion-row class="ion-row" *ngFor="let item of requirementDataSummary; let i = index">


          <ion-col size="2" class="ion-align-center-amount">
            {{i+1}}
                </ion-col>
          <ion-col size="4" class="ion-align-center-amount">
             {{item?.productName}}
          </ion-col>
          <ion-col size="3" class="ion-align-center-amount" >
            <!-- <p *ngIf="item && item.packingSize"> {{item?.packingSize}}</p> -->
{{item?.packingSize}}
                </ion-col>
          <ion-col size="3" class="ion-align-center-amount">
            {{item?.totalQuantity.toLocaleString("en-IN")}} {{item?.quantityUnit}}
                </ion-col>

      </ion-row>





      </ion-grid>




</div>
    </ion-slide>





</ion-slides>
</div>

</ion-content>
