
  <ion-list-header style="justify-content: center">
    <ion-img src="../../assets/logo1.png"></ion-img>
  </ion-list-header>


<ion-item lines="full" class="profile-item">
  <ion-avatar slot="start" class="profile-pic">
    <img src="https://cdn.pixabay.com/photo/2013/07/13/12/07/avatar-159236_960_720.png">
  </ion-avatar>
  <ion-label class="profile-data">
    <h2 class="profile-content"><b>{{this.firstName+" "+ this.lastName}}</b></h2>
    <h3 class="profile-content">{{this.role}}</h3>
    <!-- <h3 class="profile-content">Naomi Seeds</h3> -->
  </ion-label>
</ion-item>
